*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #220901;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-family: 'VT323', monospace;
    justify-content: space-between;
    margin: 0;
    width: 100vw;
}

a {
    color: white;
    text-decoration: none;
}

button {
    font-family: 'Oswald', sans-serif;
    font-family: 'VT323', monospace;
}

h2 {
    font-size: xx-large;
    margin: 0px;
    text-transform: uppercase;
}

/*      Navbar      */

.navbar {
    align-items: center;
    background-color: #b18d75;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar img {
    margin-left: 24px;
    transition: all 2.0s;
    width: 50px;
}

.navbar img:hover {
    transform: rotate(360deg);
    transition: all 2.0s;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  

#header-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: auto;
    margin-right: 12px;
    justify-content: space-between;
    text-align: center;
}

#header-links a {
    padding: 10px;
}

#header-links a:hover {
    background-color: #220901;
    color: #b18d75;
    cursor: pointer;
    opacity: .4;
    text-shadow: 2px 2px 1px black;
}

/*      Intro       */

#intro {
    align-items: center;
    background-color: #b18d75;
    border-bottom: solid #220901 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#intro button {
    align-items: center;
    background-color: transparent;
    border: solid 3px #220901;
    border-radius: 15px;
    color: #220901;
    display: flex;
    font-size: 20px;
    justify-content: center;
    max-width: 200px;
    padding: 10px;
    text-align: center;
}

#intro button:hover {
    background-color: #220901;
    border: solid 3px #220901;
    border-radius: 15px;
    color: #FFFBFF;
    transition: 0.7s;
}

#intro img {
    flex: 1 1 auto;
    max-width: 500px;
    object-fit: cover;
}

#intro-box {
    align-items: center;
    background-color: #FFFBFF;
    box-shadow: 2px 2px 10px 2px;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 128px 72px 72px;
    max-width: 2000px;
    padding: 40px;
}

#left-intro h1 ,
p {
    margin: 0px;
}

#left-intro {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 32px;
}

/*      Team        */

#team {
    align-items: center;
    background-color: #FFFECB;
    border-bottom: solid #220901 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    max-width: 2000px;
    padding: 100px 40px;
}

#team img {
    max-height: 15vw;
    border-radius: 20px;
}

#team-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    max-width: 500px;
    padding: 100px;
}

.teammate {
    align-items: center;
    background-color: #FFFBFF;
    border: solid 3px #b18d75;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: fit-content;
    justify-content: center;
    padding: 10px;
}

.teammate h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*      About        */

#about {
    align-items: center;
    background-color: #b18d75;
    border-bottom: solid #220901 2px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 500px;
    justify-content: center;
    margin-top: 0px;
    padding: 5vh 20vw 5vh 20vw;
}

#about img {
    width: 300px;
}

#about p {
    color: #FFFBFF;
    font-size: large;
}

#about-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

#about-name {
    text-transform: uppercase;
}

#contact {
    align-items: center;
    background-color: #FFFECB;
    border-bottom: solid #220901 2px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 50vh;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
}

#contact-box {
    align-items: center;
    background-color: #4C5B61;
    border-radius: 20px;
    color: #FFFBFF;
    display: flex;
    flex-direction: row;
    gap: 20%;
    justify-content: space-between;
    margin: 0px;
    padding: 30px;
}

#contact-box h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0px;
    padding-bottom: 0px;
}

#contact-box-left {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#contact-box button {
    background-color: transparent;
    border: solid 3px #FFFBFF;
    border-radius: 15px;
    color: #FFFBFF;
    padding: 10px;
}

#contact-box button:hover {
    background-color: #FFFBFF;
    border: solid 3px #FFFBFF;
    border-radius: 15px;
    color: #4C5B61;
    transition: 0.7s;
}

#footer {
    align-items: center;
    background-color: #b18d75;
    color: #FFFBFF;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 40px;
}

#footer p {
    margin: 0px;
}

#footer a {
    color: #FFFECB;
    text-decoration: underline;
}